<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body class=" " style="margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;;padding-left:0.5rem;padding-right:0.5rem;background-color:rgb(255,255,255)">
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:465px;border-width:1px;border-style:solid;border-color:rgb(234,234,234);border-radius:0.25rem;margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;padding:20px">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" class="fle" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin-top:32px;flex-direction:row;align-items:flex-start;width:100%;justify-content:space-between">
              <tbody>
                <tr>
                  <td>
                  <td align="left" data-id="__react-email-column"> <img class="max-w-14" alt="Vercel" height="40" src="https://res.cloudinary.com/deoofk9nn/image/upload/v1671531983/Ruth_Ikegah_Logo_Variants-02_1_dzucfq.png" style="display:block;outline:none;border:none;text-decoration:none;object-fit:cover;width:2.5rem;height:2.5rem" width="40" /></td>
                  <td align="right" data-id="__react-email-column"><img class=" max-w-14" alt="Vercel" height="37" src="https://res.cloudinary.com/deoofk9nn/image/upload/v1656293856/ruthhero_e34ini.png" style="display:block;outline:none;border:none;text-decoration:none;object-fit:cover;width:2.5rem;height:2.5rem;border-radius:9999px" width="40" /></td>
          </td>
        </tr>
      </tbody>
    </table>
    <h1 class="" style="color:rgb(0,0,0);display:flex;align-items:flex-start;justify-content:flex-start;font-size:1.875rem;line-height:2.25rem;font-weight:500;text-align:left;padding:0px;margin-top:30px;margin-bottom:30px;margin-left:0px;margin-right:0px"><strong> Hey Ruth, you got mail!!</strong></h1>
    <p style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0)">You should get back to {username} soon. <br /> They are waiting for your reply.,</p>
    <hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-width:1px;border-style:solid;border-color:rgb(234,234,234);margin-top:26px;margin-bottom:26px;margin-left:0px;margin-right:0px" />
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
      <tbody>
        <tr>
          <td>
            <table align="center" width="100%" class="max-w-10" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="display:flex;flex-direction:row">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td align="left" class="max-w-10" data-id="__react-email-column">
                    <p class="max-w-10" style="font-size:18px;line-height:24px;margin:16px 0;color:rgb(0,0,0);font-weight:700">From:</p>
                  </td>
                  <td align="left" data-id="__react-email-column">
                    <p style="font-size:14px;line-height:24px;margin:16px 0;margin-left:2.5rem;color:rgb(0,0,0);display:flex;justify-content:flex-start;text-align:left">{username} </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" class="max-w-10" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="display:flex;flex-direction:row">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td align="left" class="max-w-10" data-id="__react-email-column">
                    <p class="max-w-10 " style="font-size:18px;line-height:24px;margin:16px 0;color:rgb(0,0,0);font-weight:700">Email:</p>
                  </td>
                  <td align="left" class="max-w-10" data-id="__react-email-column" style="display:flex;flex-direction:row">
                    <p style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0);margin-left:2.5rem">{email} </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" class="max-w-10" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="display:flex;flex-direction:row">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td align="left" class="max-w-10" data-id="__react-email-column" style="display:flex;flex-direction:row">
                    <p class="max-w-10 " style="font-size:18px;line-height:24px;margin:16px 0;color:rgb(0,0,0);font-weight:700">Message:</p>
                  </td>
                  <td align="left" data-id="__react-email-column">
                    <p style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0);margin-left:0.75rem">{message} </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
  </body>

</html>
